.App {
  background-color: #f1f2f4;
}

.TodoList {
  background-color: #fff;
  margin-right: 60px;
  margin-left: 60px;
}

.Sidebar {
  height: 100%;
  width: 60px;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #fff;
  overflow-x: hidden;
  text-align: center;
}

.Sidebar div {
  padding-top: 20px;
  padding-bottom: 20px;
}
.icon-swarm {
  background-color: #ffa500;
}

.Header {
  display: block;
  height: 63px;
  width: 100%;
  position: fixed;
  background-color: #303030;
  overflow-x: hidden;
}

.icon-power {
  text-align: center;
  padding-bottom: 20px;
  padding-top: 20px;
  margin-left: 95%;
  background-color: black;
  color: white;
}

.SubHeader {
  margin-left: 60px;
  display: flex;
  flex-direction: row;
  height: 63px;
  width: 100%;
  position: fixed;
  margin-top: 63.5px;
  background-color: #fff;
}

#title {
  margin-left: 20px;
  margin-top: 22px;
}

#title h6 {
  color: #303030;
}

#swarm {
  margin-left: 77%;
  margin-top: 20px;
}

#swarm h6 {
  color: #303030;
}

#todo-list-title {
  margin-left: 10px;
  margin-top: 20px;
}

#todo-list-title h6 {
  color: #ffa500;
}

.content-page {
  background-color: #f1f2f4;
  padding-top: 200px;
  margin-left: 60px;
}
